<section class="min-h-screen h-screen w-full bg-grayLight flex items-center justify-center px-4">
    <div
        class="w-full max-w-3xl bg-white rounded-[40px] shadow-xl p-8 md:p-10 flex flex-col items-center text-secondary">
        <h1 class="text-3xl md:text-4xl font-bold mb-4 text-center">Esqueceu sua senha?</h1>
        <p class="text-center text-sm md:text-base text-gray-500 mb-6">
            Sem problemas! Informe seu e-mail e enviaremos um link para redefinir sua senha.
        </p>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full max-w-md">
            <app-input label="Email" placeholder="seu@email.com" type="email" id="email" name="email"
                [control]="resetForm.get('email')!" [errorMessages]="{
                    required: 'E-mail é obrigatório',
                    email: 'Digite um e-mail válido'
                }" />

            <app-button text="Enviar link de recuperação" type="submit" buttonType="primary" [loading]="isSubmitting"
                loadingText="Enviando..." />

            <p class="text-sm text-center text-gray-500">
                Lembrou da senha?
                <a (click)="navigateToLogin()" class="text-secondary hover:underline font-medium cursor-pointer">Voltar
                    para login</a>
            </p>
        </form>
    </div>
</section>