<section class="min-h-screen h-screen w-full bg-grayLight flex items-center justify-center px-4">
    <div class="w-full max-w-7xl md:grid md:grid-cols-2 bg-white rounded-[40px] overflow-hidden shadow-xl">

        <!-- BLOCO VISUAL (Esquerda) -->
        <div class="hidden md:flex flex-col justify-between bg-primary text-white p-10 relative m-2 rounded-[40px]">

            <!-- Ícone ou imagem decorativa -->
            <div class="flex justify-center items-center h-full">
                <img src="assets/EventAnexusLogo.jpg" alt="Event Anexus"
                    class="w-full h-full opacity-80 rounded-[40px]" />
            </div>
        </div>

        <!-- FORMULÁRIO (Direita) -->
        <div class="p-6 md:p-10 flex flex-col justify-center items-center w-full text-secondary">
            <h1 class="text-3xl md:text-4xl xl:text-5xl font-bold mb-6 text-center">
                Event Anexus
            </h1>

            <h3 class="text-lg md:text-xl font-semibold text-center mb-6">
                Seja Bem-Vindo ao Event Anexus!
            </h3>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full" novalidate>
                <!-- Inputs -->
                <div class="flex flex-col gap-4 w-full">
                    <app-input label="Email" placeholder="seu@email.com" type="email" id="email" name="email"
                        [control]="loginForm.get('email')!" [errorMessages]="{
                            required: 'O email é obrigatório.',
                            email: 'Informe um email válido.'
                        }" />

                    <app-input label="Senha" placeholder="Digite sua senha" type="password" id="password"
                        name="password" [control]="loginForm.get('password')!" [errorMessages]="{
                            required: 'A senha é obrigatória.',
                            minlength: 'A senha deve ter no mínimo 8 caracteres.'
                        }" />
                </div>

                <!-- Lembrar -->
                <div class="flex justify-between items-center mt-4 w-full text-sm md:text-base">

                    <button type="button" class="text-secondary hover:underline" (click)="navigateToEsquecerSenha()">
                        Esqueci minha senha
                    </button>
                </div>

                <!-- Mensagem de erro -->
                <div *ngIf="errorMessage"
                    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-lg mt-4" role="alert">
                    <span class="block sm:inline">{{ errorMessage }}</span>
                </div>

                <!-- Login -->
                <div class="flex flex-col items-center mt-6 w-full gap-3">
                    <app-button text="Login" type="submit" buttonType="primary" [loading]="isSubmitting"
                        loadingText="Entrando..." class="w-full" />

                    <app-button text="Cadastrar-se" type="button" buttonType="outline" class="w-full"
                        (btnClick)="navigateToCadastro()" />
                </div>
            </form>

        </div>
    </div>
</section>