.input-auth {
  @apply border rounded-xl px-4 py-2 bg-grayLight text-black focus:bg-white focus:outline-none focus:ring-2 focus:ring-secondary transition-all;
}

.btn-primary {
  @apply bg-secondary text-white rounded-full px-6 py-2 hover:bg-secondary/90 transition-all;
}

.btn-light {
  @apply bg-white text-primary rounded-full px-6 py-2 hover:bg-gray-100 transition-all;
}
