<section class="min-h-screen h-screen w-full bg-grayLight flex items-center justify-center px-4">
    <div class="w-full max-w-7xl md:grid md:grid-cols-2 bg-white rounded-[40px] overflow-hidden shadow-xl">
        <!-- BLOCO VISUAL (Esquerda) -->
        <div class="hidden md:flex flex-col justify-between bg-primary text-white p-10 relative m-2 rounded-[40px]">
            <div class="flex justify-center items-center h-full">
                <img src="assets/EventAnexusLogo.jpg" alt="Event Anexus"
                    class="w-full h-full opacity-80 rounded-[40px]" />
            </div>
        </div>

        <!-- FORMULÁRIO DE CADASTRO (Direita) -->
        <div class="p-6 md:p-10 flex flex-col justify-center items-center w-full text-secondary">
            <h1 class="text-3xl md:text-4xl xl:text-5xl font-bold mb-6 text-center">
                Crie sua conta
            </h1>

            <h3 class="text-lg md:text-xl font-semibold text-center mb-6">
                Preencha os dados abaixo para se cadastrar
            </h3>

            <form class="flex flex-col gap-4 w-full">
                <!-- Nome -->
                <label class="flex flex-col text-sm md:text-base font-medium gap-1" for="firstName">
                    Nome
                    <input
                        class="w-full border rounded-xl px-3 py-2 md:px-5 md:py-3 bg-grayLight focus:bg-white focus:outline-none focus:ring-2 focus:ring-secondary transition-all"
                        type="text" id="firstName" />
                </label>

                <!-- Sobrenome -->
                <label class="flex flex-col text-sm md:text-base font-medium gap-1" for="lastName">
                    Sobrenome
                    <input
                        class="w-full border rounded-xl px-3 py-2 md:px-5 md:py-3 bg-grayLight focus:bg-white focus:outline-none focus:ring-2 focus:ring-secondary transition-all"
                        type="text" id="lastName" />
                </label>

                <!-- Email -->
                <label class="flex flex-col text-sm md:text-base font-medium gap-1" for="email">
                    Email
                    <input
                        class="w-full border rounded-xl px-3 py-2 md:px-5 md:py-3 bg-grayLight focus:bg-white focus:outline-none focus:ring-2 focus:ring-secondary transition-all"
                        type="email" id="email" />
                </label>

                <!-- Senha -->
                <label class="flex flex-col text-sm md:text-base font-medium gap-1" for="password">
                    Senha
                    <input
                        class="w-full border rounded-xl px-3 py-2 md:px-5 md:py-3 bg-grayLight focus:bg-white focus:outline-none focus:ring-2 focus:ring-secondary transition-all"
                        type="password" id="password" />
                </label>

                <!-- Confirmar Senha -->
                <label class="flex flex-col text-sm md:text-base font-medium gap-1" for="confirmPassword">
                    Confirmar Senha
                    <input
                        class="w-full border rounded-xl px-3 py-2 md:px-5 md:py-3 bg-grayLight focus:bg-white focus:outline-none focus:ring-2 focus:ring-secondary transition-all"
                        type="password" id="confirmPassword" />
                </label>

                <!-- Botão de Cadastro -->
                <button
                    class="bg-secondary text-white py-2 px-6 md:py-3 md:px-8 rounded-full w-full hover:bg-secondary/90 transition-all mt-4"
                    type="submit">
                    Cadastrar
                </button>

                <!-- Redirecionamento -->
                <p class="text-sm text-gray-500 text-center mt-2">
                    Já tem uma conta?
                    <a (click)="navigateToLogin()"
                        class="text-secondary hover:underline font-medium cursor-pointer">Faça login</a>
                </p>
            </form>
        </div>
    </div>
</section>